.BTA {
        color: rgb(0,113,133);
        margin-bottom: 30px;
    }
    
    .BTA:hover {
        color: rgb(255,125,100);
    }
    
    .price {
        color: rgb(0,118,0);
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .NBRS {
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 40px;
    }
    
    .FDT {
        font-size: 15px;
        margin-bottom: 25px;
    }
    
     .ATC {
        background-color: rgb(255,216,20);
        border: none;
        width: 125px;
        height: 34px;
        border-radius: 75px;
        color: black;
        font-weight: bold;
        margin-right: 8px;
        cursor: pointer;
        transition: background-color 0.15s,
        opacity 0.15s;
    }
    
    .ATC:hover {
        background-color: rgb(255,196,20);
    }
    
    .ATC:active {
        opacity: 0.5;
    }
    
    .BN {
        background-color: rgb(255,164,28);
        border: none;
        width: 125px;
        border-radius: 75px;
        color: black;
        font-weight: bold;
        height: 34px;
        cursor: pointer;
        transition: background-color 0.15s,
        opacity 0.15s;
    }
    
    .BN:hover {
        background-color: rgb(255,130,28);
    }
    .BN:active {
        opacity: 0.5;
    }